.full-width {
  width: 100%;
}

.dropdown-padding {
  padding: 10px 6px;
}

.dropdown-content.is-rounded {
  border-radius: 10px;
}

.night .hero .common-background input {
  background: white;
}

.night .hero input {
  background: white;
  color: inherit;
}

.night .hero input::placeholder {
  color: #c2c2c2;
}

.night input {
  color: white;
}

.night input::placeholder {
  color: dimgray;
}

button.icon,
a.icon {
  cursor: pointer;
  pointer-events: all !important;
}

button.icon.centered {
  height: 100% !important;
}

.link-item {
  paddin-right: 26px;
}
