.no-background {
  background: none;
}

body {
  min-height: 100vh;
}

.title {
  text-shadow: 2px 2px #00000012;
}

.day {
  background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.night {
  background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
}

.day .common-background {
  background-color: #fff;
}
.night .common-background {
  background-color: #fff1;
}

.max-width {
  max-width: 100%
}

.full-height {
  height: 100%
}

.half-height {
  height: 50%
}

.margin-auto {
  margin: auto;
}

.has-ellipsis {
  text-overflow: ellipsis;
}

.big-text {
  font-size: 8rem !important;
}

.no-border {
  border: none
}